/* .main-catalogue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem;
    flex-wrap: wrap;
    object-fit: contain;
    margin-top: 100px;
  
  } */
  .welcome {
    height: 100vh;
  }